# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
crash.log
override.tf
override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.env
venv/

# dbt
target/
dbt_packages/
dbt_internal_packages/
logs/
*.log

# Airflow
airflow/logs/

# AWS
.aws/
*.pem

# Mac
.DS_Store